<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Số tài khoản: <%= bank.accountNumber %>  </p>
    <hr>
    <p>Tài khoản mặc định: <%= bank.defaultMoney %> </p>
    <hr>
    <p>Tài khoản tiết kiệm: <%= bank.savingMoney %> </p>
</body>
</html>