<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div class="container">
    <form method="POST" action="">
        <div class="form-group">
         
            
        </div>
        <div class="form-group">
                <h5>Mật Khẩu Cũ</h5>
                <input name="passwordOld"  type="password" placeholder="Mật khẩu Cũ" />
        </div>
        <div class="form-group">
            <h5>Mật Khẩu Mới</h5>
            <input name="passwordNew1" id="passwordNew1" type="password" placeholder=" Mật khẩu Mới" />
        </div>
        <div class="form-group">
            <h5>Xác Nhận Mật Khẩu Mới</h5>
            <input name="passwordNew2" id="passwordNew2" type="password" placeholder=" Mật khẩu Mới" />
        </div>
       
       
        <button type="submit" class="btn btn-primary mb-2">Đổi Mật Khẩu</button>
    </form>
    </div>

<%- include ('templatefooter.ejs') -%>
