<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= war %></p>
    <form action="" method="post">
        <input type="number" name="money" id="money" placeholder="Số tiền gửi">
        <input type="submit" value="Gửi">
    </form>
</body>
</html>