<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Internet Banking</title>
</head>

<body style="background-image: linear-gradient(to bottom right, rgb(66, 1, 1), rgb(253, 253, 253));">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="font-family: Blippo, fantasy;color:  #000000;font-size: 25px; font-weight: normal;" href="/home">Internet Banking </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tài khoản ▾</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/accountNumber">Thông tin tài khoản</a>
                   
                      <a class="dropdown-item" href="changepassword">Bảo mật</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a href="/transfers" class="nav-link">Chuyển tiền</a>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gửi Tiết Kiệm ▾</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/termSaving">Có thời hạn</a>
                   
                      <a class="dropdown-item" href="/nonTermSaving">Không có thời hạn</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a href="/transactionHistory" class="nav-link">Lịch sử giao dịch</a>
                </li>
               
                
                <li>
                    <% if(currentUser) {  %><a href="/logout" class="nav-link">Đăng xuất</a>
                    <% } else { %><a href="/login" class="item -link">Login</a> <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin-left: 2vw; margin-right: 2vw; background-image: linear-gradient(to bottom right, rgb(233, 231, 231), rgba(255, 255, 255, 0.822)); ">
        <div class="row" style="margin-top: 0">

            
