<div class="col-md-2" style="background: #ffff; border-right:double ;">
    <div>
      <img src="../images/logo.png" style= "width: 100px; height: 80px; margin: auto; margin-top: 10px; margin-bottom: 10px; display: block;">
      <h1 style="font-size: 30px; text-align: center;">ShibaBank</h1>
      <br/>
      <hr/>
    </div>
    <nav class="nav flex-column">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Quản lí tài khoản</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/accountNumber">Tài khoản/Thẻ</a>
          <a class="dropdown-item" href="">Thông tin tài khoản</a>
          <a class="dropdown-item" href="#">Liệt kê giao dịch trực tiếp</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
      <a class="nav-link" href="/transfers">Chuyển tiền</a>
      <a class="nav-link" href="#">Tiền gửi</a>
    </nav> 
  </div>
  <div class="col-md-10" style="background: #ffff;">