</div>
</div>
</div>
</div>
</body>
<hr />
<footer>
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-link">
                        <h3 class="title">Giới thiệu</h3>
                        <nav class="link">
                            <ul>
                                <li class="item"><a href="#" title="title">Giới thiệu</a></li>
                              
                                <li class="item"><a href="#" title="title">Ban
                                        lãnh đạo</a></li>
                                <li class="item"><a href="#" title="title">Tin tức</a></li>
                                <li class="item"><a href="#" title="title">Tuyển dụng</a></li>
                                <li class="item"><a href="#" title="title">Ngân
                                        hàng đại lý</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-link">
                        <h3 class="title">Cá Nhân</h3>
                        <nav class="link">
                            <ul>
                                <li class="item"><a href="#" title="title">Cho vay</a></li>
                                <li class="item"><a href="#" title="title">Tiền gửi
                                        tiết kiệm</a></li>
                                <li class="item"><a href="#" title="title">Ngân
                                        hàng trực tuyến</a></li>
                                <li class="item"><a href="#" title="title">Dịch vụ</a></li>
                                <li class="item"><a href="#" title="title">Tiền gửi
                                        thanh toán</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-link">
                        <h3 class="title">Doanh Nghiệp</h3>
                        <nav class="link">
                            <ul>
                                <li class="item"><a href="#" title="title">Cho vay</a></li>
                                <li class="item"><a href="#" title="title">Tiền gửi</a>
                                </li>
                                <li class="item"><a href="#"
                                        title="title">Ngân hàng trực tuyến</a></li>
                                <li class="item"><a href="#"
                                        title="title">Dịch vụ quản lý dòng tiền</a></li>
                                <li class="item"><a href="#"
                                        title="title">Dịch vụ thu ngân sách nhà nước</a></li>
                                <li class="item"><a href="#"
                                        title="title">Chuyển tiền quốc tế</a></li>
                                <li class="item"><a href="#" title="title">Tài trợ thương mại</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-link">
                        <h3 class="title">Liên Hệ</h3>
                        <nav class="link">
                            <ul>
                                <li class="item"><a href="#" title="title">Địa chỉ: 227 Nguyễn Văn Cừ,P.4,Q.5, TP HCM
                                </a></li>
                                <li class="item"><a href="#" title="title">SDT: 0969323317
                                        </a></li>
                                <li class="item"><a href="#" title="title">Gmail: thnghiep.17ck1@gmail.com
                                        </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="register-email">
                        <h3 class="title">Đăng ký nhận bản tin</h3>
                        <p class="content">Kết nối với chúng tôi để theo dõi thông tin mới nhất</p>
                        <div class="social clearfix">
                            <a href="#"><i class="fa fa-facebook"> </i></a>
                            <a href="#"><i
                                    class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <div class="register-email">
                        <div class="clearfix">
                            <h4 class="title-app">TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h4>
                            <a href="#">
                                <img style="max-width:45%;" src="/img/appstore.png" />
                            </a>
                            <a href="#">
                                <img style="max-width:45%;" src="/img/playstore.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
                    <div class="location">
                        <p>Trường Đại Học Khoa Học Tự Nhiên _ TPHCM <strong>SWIFT Code: VNTTVNVX</strong></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                    <div class="copyright-content">
                        <p>@ 2016 <strong>ShibaBank. All rights reserved.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="up"></div>
    <!-- Load Facebook SDK for JavaScript add vô footer trước dùm em -->
    <div id="fb-root"></div>
    <script>
        /*window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v4.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));*/
    </script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="638910482874851">
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH992V5" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

</footer>

</html>
