<div class="mReg right_mReg dobong1" style="margin-bottom: 1vw; border-radius: 0 5vw 0 6vw; background-image: linear-gradient(to bottom right, rgba(47, 2, 2, 0.274), rgb(253, 253, 253));">
  <hr>
    <div class="helpSer">
      <h3>Công Cụ</h3>
      <ul>
        <!-- <li><a href="tcbaolanh.jsp" style="color:#AF1E40 !important;">Tra cứu bảo lãnh</a></li>  -->
        <!-- <li><a href="tcbaolanh.jsp">Tra cứu bảo lãnh</a></li> -->
        <li><a href="/baomatthongtin.html"
          style="color:#AF1E40 !important;font-size: 20px;font-family: Helvetica, sans-serif !important;">Tra Cứu Bão Lãnh
          </a></li>
        <!-- <li><a href="otp_orders.jsp" style="color:#AF1E40 !important;font-size: 15px;font-family: Helvetica, sans-serif !important;font-weight: bold;">Đăng ký chuyển đổi số điện thoại nhận SMS OTP từ 11 số sang 10 số</a></li> -->
      </ul>
    </hr>
    </div>
    <hr>
    <div class="helpSer">
      
      <h3>Trợ Giúp</h3>
      <ul>
        <li><a href="/huongdansudung.html"
          style="color:#AF1E40 !important;font-size: 20px;font-family: Helvetica, sans-serif !important;">Hướng Dẫn Sử Dụng</a></li>
        <li><a href="/baomatthongtin.html"
            style="color:#AF1E40 !important;font-size: 20px;font-family: Helvetica, sans-serif !important;">Khuyến
            Cáo Bảo Mật Thông Tin</a></li>  
      
      </ul>
    </div>
  </hr>
  </div>


  <style>
    .dobong1{
        box-shadow: 6px 6px 6px rgba(37, 1, 1, 0.521);
        padding: 2vw;
    }
</style>