<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cảnh báo</title>
</head>
<body>
    <p>Tài khoản của bạn đã bị <b>BLOCK</b></p>
    <a href="/">Quay về trang chủ</a>
</body>
</html>