<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>Tên: <%= bank.user.displayName%></li>
    <li>Tài khoản mặc định: <%= bank.accountNumber %></li>
    <form action="" method="post">
        <input type="text"  name="content"  placeholder="Nội dung">
        <input type="number" name="money" id="" placeholder="Tiền cần nạp">
        <input type="submit" value="Nạp tiền">
    </form>
</body>
</html>