<title>Đổi mật khẩu</title>
<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div>
    <h1 style="text-align: center;">Thay Đổi Mật Khẩu</h1>
    <br />
    <hr />
</div>


<div>
    <div>
        <div class="container">
            <form method="POST" action="">
                <div style="margin-left:11vw;margin-right:11vw;">
                <div class="form-group">
                    <h5>Mật Khẩu Cũ</h5>
                    <input name="passwordOld" class="form-control" type="password" placeholder="Mật khẩu Cũ" />
                </div>
                <div class="form-group">
                    <h5>Mật Khẩu Mới </h5>
                    <input name="passwordNew1" class="form-control" id="passwordNew1" type="password"
                        placeholder=" Mật khẩu Mới" />
                </div>
                <div class="form-group">
                    <h5>Xác Nhận Mật Khẩu Mới</h5>
                    <input name="passwordNew2" class="form-control" id="passwordNew2" type="password"
                        placeholder=" Mật khẩu Mới" />
                    <div class="form-group">

                    </div>
                    <hr>
                    <button  style="margin-left:17vw;margin-right:11vw;" type="submit" class="btn btn-primary mb-2">Đổi Mật Khẩu</button>
                    </hr>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ('templatefooter.ejs') -%>