<div class="col-md-3" style="border-right:double ; ">
  <div>
    <img src="../images/logo.png"
      style="width: 100px; height: 80px; margin: auto; padding-top: 10px; margin-bottom: 10px; display: block;">
    <h1 style="font-family: Blippo, fantasy;color:  #AF1E40;font-size: 50px; font-weight: normal; text-align: center;">
      ShibaBank</h1>
    <p style="text-align: center;color:brown; font-size: 14px; text-shadow: rgb(51, 2, 2) -1px -2px 0.5em;">(Dịch vụ
      Internet Banking)</p>
    <br />
    <hr />
  </div>
  <div class="container-fluid dobong">
    <div class="row">
      <div class="col-12 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
          <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse"
              data-target="#submenu1"><i class="fa fa-table"></i> <span class="d-none d-sm-inline">Quản lí tài khoản
                ▾</span></a>
            <div class="collapse" id="submenu1" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                <li class="nav-item" style="margin-left: 30px; "><a class="nav-link py-0" href="/adminAccount"><span>Tài
                      Khoản Nhân Viên</span></a></li>
                <li class="nav-item">
                  <a class="nav-link py-0" style="margin-top: 8px; margin-left: 30px;" href="card"><span>Nạp Tiền Tài
                      Khoản</span></a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link text-truncate" href="fee"><span class="d-none d-sm-inline">Chi Phí Chuyển
                Khoản</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-truncate" href="guestAccount"><span class="d-none d-sm-inline">Tài Khoản Khách Hàng</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-truncate" href="historyRecharge"><span class="d-none d-sm-inline">Lịch Sử Nạp Tiền</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-truncate" href="recharge"><span class="d-none d-sm-inline">Tìm Kiếm Tài Khoản</span></a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
<div class="col-md-9">