<!doctype html>
<html>
<head>
<title>Trang Chủ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
<link href="css/pages/home.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<!-- Index -->
<body>
<div class="homep">
  <!-- Title -->
  <h1 class="w3ls">Ngân Hàng Shiba Bank</h1>
 
<div class="content-w3ls">
   <!-- Logo -->
	<div class="content-agile1">
    <div class="logo"><img src="../images/logo.png" alt="icon"></div>
		<h2 class="agileits1">Official</h2>
		<p class="agileits2">Đồ Án Lập trình web 2</p>
  </div>
  <!-- Table of contents -->
  <div class="content-agile2 Contents">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Trang Chủ</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Giới Thiệu</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/login" role="tab" aria-controls="v-pills-messages" aria-selected="false">Đăng Nhập</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="/register" role="tab" aria-controls="v-pills-settings" aria-selected="false">Đăng Kí</a>
    </div>
	</div>
	<div class="clear"></div>
</div>
	<!-- author -->
<p class="copyright w3l source">© 2020 Lập trình web 2 _ 1760058 _ 1760076 _ 1760086 _ 1760100</p>
</div>
</body>
</html>

