<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
  <link rel="stylesheet" type="text/css" href="css/reponsive.css">
  <title>ShibaBank Internet Banking | Home Page</title>
</head>

<body>

  <div class="header">
    <div class="wrapper">
      <div class="logo">
        <a title="ShibaBank" href="#"><img src="../images/logo.png" /></a>
        <h1>Ngân Hàng ShibaBank</h1>
      </div>
      <!--end .logo-->
      <br class="clear">
    </div>
  </div>
  <!--end .header-->

  <div class="section">
    <div class="wrapper">

    </div>
  </div>
  <!--end .section-->

  <div class="content">
    <div class="wrapper">

      <div class="aside">
        <ul id="browser" class="navAside">

          <li class="closed"><a href="#">Trang chủ</a></li>
          <li class="closed"><a href="trans.jsp?cat=0">Giao dịch</a></li>
          <li class="closed"><a href="#">Liên hệ</a></li>
          <li class="closed"><a href="/login">Đăng Nhập</a></li>
          <li class="closed"><a href="/register">Đăng Kí</a></li>
        </ul>
      </div>
      <!--end .aside-->


      <div class="mainContent">
        <h2 class="title_art">Dịch Vụ<span class="sp_pow"></span></h2>
        <div class="mod_reg">
          <div class="wrap_reg">
            <div class="mReg left_mReg">
              Thích nhập gì thì nhập... :v!!
            
            <script language="javascript">
              document.onload = ctck();
            </script>
            
                        </div>
                        <!--end .left_mReg-->
            
                      <div class="mReg right_mReg">
                          <div class="helpSer">
                              <h3>Công cụ</h3>
                                    <ul>
                                      <!-- <li><a href="tcbaolanh.jsp" style="color:#AF1E40 !important;">Tra cứu bảo lãnh</a></li>  -->
                                      <!-- <li><a href="tcbaolanh.jsp">Tra cứu bảo lãnh</a></li> -->
                                      <li><a href="#">Tra cứu bảo lãnh</a></li>
                                      <!-- <li><a href="otp_orders.jsp" style="color:#AF1E40 !important;font-size: 15px;font-family: Helvetica, sans-serif !important;font-weight: bold;">Đăng ký chuyển đổi số điện thoại nhận SMS OTP từ 11 số sang 10 số</a></li> -->
                                    </ul>
                            </div>
                          <div class="helpSer">
                              <h3>Trợ giúp</h3>
                                    <ul>
                                    <li><a href="./CanhBaoGiaoDichGiaMaoDichVuNganHangDienTu.pdf" style="color:#AF1E40 !important;font-size: 20px;font-family: Helvetica, sans-serif !important;">Khuyến Cáo Bảo Mật Thông Tin</a></li>
                                      <li><a href="./Agr_clearCache.doc" style="color:#AF1E40 !important;">Xóa cache trên web browser</a></li>
                                    </ul>
                            </div>
                        </div>
                        <!--end .right_mReg-->
                        <br class="clear">
                    </div></div>
                </div>
                <!--end .mainContent-->
              <br class="clear">
    </div>
  </div>
</body>

</html>