<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="icon" href="https://f0.pngfuel.com/png/982/55/white-laptop-icon-png-clip-art.png">
<link href="css/pages/account.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body style="background-image:url(./images/maunen1.jpg);">
    <h1 style="font-family: 'Times New Roman', Times, serif;color:  #AF1E40;font-size: 70px; font-weight: normal;">Ngân Hàng Shiba Bank</h1>

<div class="container" id="container">
	<!-- form login -->
	<div class="form-container sign-in-container">
		<form method="POST">
			<h1>Mã xác thực</h1>
			<% if(typeof warning != 'undefined') {%> 
				<p style="color: #FF4B2B;"><%= warning %> </p>
				<% } %> 
			<input name="code" id="code" type="text" placeholder="Mã xác thực" />
			<p>Vui lòng kiểm tra mail để nhận mã xác thực!</p>
			<button type="submit">Đồng ý</button>
		</form>
	</div>
	<!-- Introduce -->

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome ShibaBank</h1>
				<p>Ngân hàng ShibaBank kính chào quý khách!</p>
				<button onclick="window.location.href='/home'" style="background:#FFF!important;color:#FF4B2B!important;margin-top:1vw;border:1px solid #FFF" type="submit">Quay lại</button>
			</div>
		</div>
	</div>
</div>

	<!-- author -->
<footer>
</footer>

</body>
